@page "/"
@using WordleHelper.Models;
@using WordleHelper.Services;

<PageTitle>Wordle Helper</PageTitle>

<nav class="navbar navbar-light bg-light">
	<a class="navbar-brand" href="#">
		<img src="/icon-192.png" width="30" height="30" class="d-inline-block align-top" alt="">
		Wordle Helper
		<a href="https://github.com/jquintus/WordleHelper" target="_blank"
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
				<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
				<path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
			</svg>
		</a>
	</a>
</nav>

Enter your guesses from Wordle. Click on the letters in the word list to match the results from Wordle.

<br />
<br />

<EditForm Model=@Model OnValidSubmit="@AddWord">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<InputText id="name" @bind-Value="@Model.Word" />

	<button type="submit">Submit</button>

	<br />
	<br />
	<h2> Guesses </h2>
	<table>
		<tbody>
			@foreach (var guess in Model.Guesses)
			{
				<tr>
					<td>
						@foreach (var letter in guess.Letters)
						{
							<button @onclick=letter.ToggleState
			   style="background-color:@letter.Color"
			   class="letterButton">
								@letter
							</button>
						}
					</td>
				</tr>
			}
		</tbody>
	</table>

	<br />
	<button @onclick=@GenerateSuggestions class="generateButton"> Generate </button>

	<br />
	<br />
	<h2> Suggestions </h2>

	<table>
		<tbody>
			@foreach (var suggestion in Model.Suggestions)
			{
				<tr>
					<td>@suggestion</td>
				</tr>
			}
		</tbody>

		<br />

		<button @onclick=@Reset class="clearButton"> Clear </button>
	</table>
</EditForm>



@code {
	InputModel Model { get; set; } = new(new Wordlizer());
	private void AddWord()
	{
		Model.AddGuess(Model.Word);
		Model.Word = null;
	}

	private void Reset() => Model.Reset();
	private void GenerateSuggestions() => Model.GenerateSuggestions();
}
