@page "/"
@using WordleHelper.Models;
@using WordleHelper.Services;

<PageTitle>Wordle Helper</PageTitle>

<nav class="navbar navbar-light bg-light">
	<a class="navbar-brand" href="#">
		<img src="icon-192.png" width="30" height="30" class="d-inline-block align-top" alt="">
		Wordle Helper
	</a>

	<a href="https://github.com/jquintus/WordleHelper" target="_blank " margin="1em" padding="1em">
		<span class="oi oi-info" aria-hidden="true"></span>
	</a>
</nav>

Enter your guesses from Wordle. Click on the letters in the word list to match the results from Wordle.

<br />
<br />

<EditForm Model=@Model OnValidSubmit="@AddWord">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<div class="input-group mb-3">
		<InputText @bind-Value="@Model.Word" type="text" class="form-control" placeholder="Guess" aria-label="guess" aria-describedby="button-addon2" />
		<div class="input-group-append">
			<button class="btn btn-outline-secondary" type="submit">Submit</button>
		</div>
	</div>
</EditForm>

@if (Model.Guesses.Any())
{

	<h2> Guesses </h2>
	<table>
		<tbody>
			@foreach (var guess in Model.Guesses)
			{
				<tr>
					<td>
						@foreach (var letter in guess.Letters)
						{
							<button @onclick=letter.ToggleState
				  style="background-color:@letter.Color"
				  class="letterButton">
								@letter
							</button>
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
}

@if (Model.Suggestions.Any())
{
	<div>
		<br />
		<h2> Suggestions </h2>

		<table>
			<tbody>
				@foreach (var suggestion in Model.Suggestions)
				{
					<tr>
						<td>@suggestion</td>
					</tr>
				}
			</tbody>

			<br />

			@*<button @onclick=@Reset class="clearButton"> Clear </button>*@
		</table>

		@*<button @onclick=@GenerateSuggestions class="generateButton"> Generate </button>*@
	</div>
}
<br />

@if (Model.Guesses.Any())
{

	<div class="right-aligned">
		<div class="btn-group" role="group" aria-label="Basic example">
			<button type="button" class="btn btn-secondary" @onclick=@GenerateSuggestions>Generate</button>
			<button type="button" class="btn btn-secondary" @onclick=@Reset>Clear</button>
		</div>
	</div>
	<br />
}

@code {
	InputModel Model { get; set; } = new(new Wordlizer());
	private void AddWord()
	{
		Model.AddGuess(Model.Word);
		Model.Word = null;
	}

	private void Reset() => Model.Reset();
	private void GenerateSuggestions() => Model.GenerateSuggestions();
}
