@page "/"
@using WordleHelper.Models;
@using WordleHelper.Services;

<PageTitle>Wordle Helper</PageTitle>

<nav class="navbar navbar-light bg-light">
	<a class="navbar-brand" href="#">
		<img src="icon-192.png" width="30" height="30" class="d-inline-block align-top" alt="">
		Wordle Helper
		<a href="https://github.com/jquintus/WordleHelper" target="_blank " margin="1em" padding="1em"
			<span class="oi oi-info" aria-hidden="true"></span>
			
		</a>
	</a>
</nav>

Enter your guesses from Wordle. Click on the letters in the word list to match the results from Wordle.

<br />
<br />

<EditForm Model=@Model OnValidSubmit="@AddWord">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<InputText id="name" @bind-Value="@Model.Word" />

	<button type="submit">Submit</button>

	<br />
	<br />
	<h2> Guesses </h2>
	<table>
		<tbody>
			@foreach (var guess in Model.Guesses)
			{
				<tr>
					<td>
						@foreach (var letter in guess.Letters)
						{
							<button @onclick=letter.ToggleState
			   style="background-color:@letter.Color"
			   class="letterButton">
								@letter
							</button>
						}
					</td>
				</tr>
			}
		</tbody>
	</table>

	<br />
	<button @onclick=@GenerateSuggestions class="generateButton"> Generate </button>

	<br />
	<br />
	<h2> Suggestions </h2>

	<table>
		<tbody>
			@foreach (var suggestion in Model.Suggestions)
			{
				<tr>
					<td>@suggestion</td>
				</tr>
			}
		</tbody>

		<br />

		<button @onclick=@Reset class="clearButton"> Clear </button>
	</table>
</EditForm>



@code {
	InputModel Model { get; set; } = new(new Wordlizer());
	private void AddWord()
	{
		Model.AddGuess(Model.Word);
		Model.Word = null;
	}

	private void Reset() => Model.Reset();
	private void GenerateSuggestions() => Model.GenerateSuggestions();
}
